*{
    font-family: "Sono", monospace;
}

.project-container {
    scale: 0;
}

.selected-project {
    scale: 1;
}

.project-child {
    width: 300px;
    height: 15%;
    position: absolute;
    bottom: 10%;
    right: 25px;
}
h3{
    width: 300px;
    margin-bottom: 25px;
    font-size: 16px;
}
.link{
    position: absolute;
    width: 250px;
    height: 25px;
    right: 0;
    text-align: end;
    font-size: 25px;
}

.link ion-icon{
    font-size: 35px;
}